h1{
   color: black; 
}

h2{
    color: wheat;
}

h3{
    color: darkred;
}


body{
            text-align: center;
            border: 100px solid gray;
            padding: 50px;
        }

a{
    color: red;
}

a:hover {
  color: lightblue;
}
a:visited {
  color: darkblue;
}
