.first{

}
h1{
    color: blue;
}

.firsth2{
    color: red;
}

.secondh2{
    color: green;
}

html{
    background-color: gray;
    margin: 50px
}

body{
    background-color: white;
    padding: 50px;
}

.firstdiv{
    background-color: aquamarine;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.seconddiv{
    background-color: yellow;
    font-family: Candara, Tahoma, Geneva, sans-serif;
}